$b: '.s-donate';

#{$b} {
  position: relative;
  padding-top: rem(108px);

  @include mobile {
    padding-top: rem(80px);
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__glare2 {
    display: none;
    position: absolute;
    z-index: -1;
    bottom: rem(-500px);
    left: rem(-400px);
    width: rem(1018px);
    height: rem(1018px);

    @include mobile {
      display: block;
    }
  }

  &__left-column {
    flex: 0 1 50%;

    @include mobile {
      flex-basis: 100%;
      margin-bottom: rem(20px);
    }
  }

  &__right-column {
    flex: 0 1 50%;
    padding-left: rem(40px);

    @include mobile {
      flex-basis: 100%;
      padding-left: 0;
    }
  }

  &__form-container {
    position: relative;
    max-width: rem(608px);
    margin-right: rem(30px);
    border-radius: rem(15px);
    height: auto;
    width: 100%;

    //@include tablet {
    //  margin-right: 0;
    //  margin-bottom: rem(40px);
    //}

    @include mobile {
      //margin-left: rem(-16px);
      //margin-right: rem(-16px);
      margin-bottom: rem(30px);
    }
  }

  &__iframeDonut {
    width: 1px;
    min-width: 100%;
  }

  &__bubble-text {
    position: relative;
    display: block;
    border-radius: rem(24px);
    background-color: $white-true;
    margin-bottom: rem(32px);
    padding: rem(25px);

    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: rem(18px) solid transparent;
      border-right: rem(20px) solid $white-true;
      border-top: rem(15px) solid transparent;
      border-bottom: rem(15px) solid $white-true;
      left: rem(-17px);
      bottom: 0;
    }
  }

  &__glare1 {
    @include decor;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    top: -60%;
    right: 0;
    min-width: rem(500px);
    max-width: rem(1018px);
    max-height: rem(1018px);

    @include mobile {
      top: -25%;
      right: -50%;
    }
  }
}
