
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 10px;

  &__title {
    @include title(rem(32px),1.2);
    margin-bottom: rem(32px);
    text-align: center;

    @include mobile {
      font-size: rem(24px);
    }
  }

  &__type {
    @include text(rem(14px),1.3,#616681);
    margin-bottom: rem(32px);
  }

  &__btn {
    @include base-button(false,12px 28px,16px,6px);
  }

  &__desc {
    @include text(rem(14px),1.3,$text-base);
    text-align: center;
  }
}
