<div class="s-line _vse-ne-naprasno">

    <div class="floating-stone _middle s-line__f-stone1"></div>

    <app-infinite-line :duration="15">
        <div class="s-line__item">
            <div class="s-line__item-container">
                {{ inc.inlineSvg('logo-vnn-text', '../static/img/logo-vnn-text.svg') }}
            </div>
        </div>
    </app-infinite-line>
</div>
