<footer class="site-footer l-footer site-footer-short">
    <div class="site-footer__top">
        <div class="logo">
            <a href="/html/index.html"><img class="logo__img" src="/frontend/dist/img/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <a href="/html/index.html" class="site-footer__nav-item">О проекте</a>
            <a href="/html/index.html#supp" target="_blank" class="site-footer__nav-item">Помочь проекту</a>
            <a href="/html/contacts.html" class="site-footer__nav-item">Обратная связь</a>
        </nav>
    </div>
    <div class="site-footer__bottom">
        <div>
            <span class="site-footer__copyright">© Просто спросить, 2021</span>
            <a class="site-footer__conditions" href="https://ask.nenaprasno.ru/static/docs/terms-of-use.pdf" target="_blank">Пользовательское соглашение</a>
        </div>
        <div class="site-footer__desing">Дизайн  <a href="https://breadhead.ru/" target="_blank">Breadhead</a> </div>
    </div>
</footer>
